esphome:
  name: espkyogatebox
  platform: ESP8266
  board: d1_mini
  includes:
    - bentel-kyo/bentel_kyo32.h

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Esp32 Test Fallback Hotspot"
    password: "12345678"

captive_portal:

# Enable logging
logger:
  level: INFO
  baud_rate: 0
  logs:
    component: ERROR

# Enable Home Assistant API
api:
  password: !secret ha_password

ota:
  password: !secret ota_password
  
uart:
  id: uart_bus
  tx_pin: GPIO5
  rx_pin: GPIO4
  baud_rate: 9600
  data_bits: 8
  parity: EVEN
  
switch:
  - platform: safe_mode
    name: "ESPKyoGate (Safe Mode)"

binary_sensor:
  - platform: custom
    lambda: |-
      auto kyo32 = new Bentel_Kyo32(id(uart_bus));
      App.register_component(kyo32);
      return {
        kyo32->kyo_comunication,
        kyo32->stato_sirena,
        kyo32->warn_mancanza_rete,
        kyo32->sabotaggio_zona, 
        kyo32->sabotaggio_sistema,
        kyo32->warn_scomparsa_bpi,
        kyo32->warn_fusibile,
        kyo32->warn_batteria_bassa,
        kyo32->warn_guasto_linea_telefonica,
        kyo32->warn_codici_default,
        kyo32->warn_wireless,
        kyo32->sabotaggio_bpi,
        kyo32->sabotaggio_chiave_falsa,
        kyo32->sabotaggio_jam,
        kyo32->sabotaggio_wireless,

        &kyo32->zona[0],
        &kyo32->zona_sabotaggio[0],
        &kyo32->zona_esclusa[0],
        &kyo32->memoria_allarme_zona[0],
        &kyo32->memoria_sabotaggio_zona[0],

        &kyo32->allarme_area[0],
        &kyo32->inserimento_totale_area[0],
        &kyo32->inserimento_parziale_area[0],
        &kyo32->inserimento_parziale_ritardo_0_area[0],
        &kyo32->disinserita_area[0],

        &kyo32->stato_uscita[0]
      };
    binary_sensors:
      - id: kyo_comunication
        name: "Comunicazione Centrale"
      - id: stato_sirena
        name: "Stato Sirena"
      - id: warn_mancanza_rete
        name: "Mancanza Rete"
      - id: sabotaggio_zona
        name: "Sabotaggio Zona"
      - id: sabotaggio_sistema
        name: "Sabotaggio Sistema"
      - id: warn_scomparsa_bpi
        name: "Scomparsa BPI"
      - id: warn_fusibile
        name: "Fusibile"
      - id: warn_batteria_bassa
        name: "Batteria Bassa"
      - id: warn_guasto_linea_telefonica
        name: "Guasto Linea Telefonica"
      - id: warn_codici_default
        name: "Codici Default"
      - id: warn_wireless
        name: "Wireless"
      - id: sabotaggio_bpi
        name: "Sabotaggio BPI"
      - id: sabotaggio_jam
        name: "Sabotaggio Jam"
      - id: sabotaggio_wireless
        name: "Sabotaggio wireless"
      - id: sabotaggio_chiave_falsa
        name: "Sabotaggio Chiave Falsa"

      - id: zona_1
        name: "Zona 1"
      - id: zona_1_sabotaggio
        name: "Sabotaggio Zona 1"
      - id: zona_1_esclusa
        name: "Esclusa Zona 1"
      - id: zona_1_memoria_allarme
        name: "Memoria Allarme Zona 1"
      - id: zona_1_memoria_sabotaggio
        name: "Memoria Sabotaggio Zona 1"

      - id: allarme_area_1
        name: "Allarme Area 1"
      - id: inserimento_totale_area_1
        name: "Inserimento Totale Area 1"
      - id: inserimento_parziale_area_1
        name: "Inserimento Parziale Area 1"
      - id: inserimento_parziale_ritardo_0_area_1
        name: "Inserimento Parziale Ritardo 0 Area 1"
      - id: disinserita_area_1
        name: "Disinserita Area 1"

      - id: stato_uscita_1
        name: "Stato Uscita 1"
